.banner{
    background-color: rgb(244, 228, 222);
    height: 1322px;
    width: 1920px;
   
}
.header{
    display: flex;
    justify-content: space-around;
   
}
.header-title{
    font-size: 40px;
    font-weight: 700px;
    font-family: Work-Sans;
    color:#131313;
    margin-top: 0;
}
.header-option{
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: 500px;
    color: #424242;

}
.first-section{
    text-align: center;
}
.first-section-header{
    font-size: 64px;
    font-weight:700px;
    font-family:Work-Sans ;
    color: #131313;
    
    margin-left: 0;
    margin-right: 0;
   
}
/*  padding: 205px  529px 892px  529px; */
.first-section-description{
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
   
    
}

.button{
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: darkorange;
    padding: 20px;
    
}
.banner-image{
    width: 1440px;
    height: 700px;
  
   position: absolute;
  margin-top: 10px;
  padding: 45px 240px 45px 240px;
}
.section-main{
    background-color: #FFFFFF;
   
    width: 1440px;
}
.second-section{
    display: flex;
   padding-left: 300px;
   gap: 76px;
}

 .second-section-img{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
}
.second-section-content{
   padding-top: 150px;
 
}
.sec-section-title{
 font-size: 45px;
 font-weight: 500px;
 font-family: Work Sans;
 
}
.sec-section-description{
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
   
}

.third-section{
    display: flex;
   margin-top: 100px;
    height: 1080px;
    width: 1440px;
    padding-left: 240px;
    padding-right: 240px;
}
.third-contant{
background-color: #FFFFFF;


}
.third-title{
   font-size: 45px;
   font-weight:700px ;
   color: #131313;
   border-left: solid 5px #FF900E;

   
}
.third-description{
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
 margin-bottom: 80px;
}
.third-img{
    width: 1059px;
    height: 800px;
    position: absolute;
   left: 880px;
   top: 2174px;
   right: 240px;
 
}
.third-content-first-text{

}
.third-content-second-text {
   
}
.third-sub-title{
  margin-bottom: 10px;
  margin-left: 40px;
}
.third-sub-description{
    margin-bottom: 100px;
 margin-left: 40px;
 font-size: 16px;
    font-weight: 400px;
    color: #727272;
   
}
.third-button{
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: darkorange;
    padding: 20px;
    position: absolute;
    height: 200px;
    width: 342px;
    left: 880px;
    top: 3033px;
}
.section-four{
   
    top: 3434px;
}
.title-four{
    font-size:45px ;
    font-weight: 700px;
    width: 258px;
    height: 53px;
    margin-left: 240px;
    color: #131313;
}
.description-four{
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
    margin-left: 240px;

}
/* section-five */

.section-five{
    margin-top: 100px;
    padding-left: 240px;
    padding-right: 240px;

}
.section-five-content{
    display: flex;
    gap: 124px;
}
.section-five-item{
    border: solid 2px lightsalmon;
    height: 241px;
   width: 241px;
   
}
.image-five{
height: 45px;
width: 45px;
margin-top: 45px;
margin-right: 97px;
margin-left: 98px;
margin-bottom: 0px;
}
.title-five{
font-size: 45px;
font-weight: 600px;
color: #131313;
margin-top: 0px;
margin-right: 69px;
margin-left: 69px;
margin-bottom: 0px;
line-height: 53px;
}
.description-five{
font-size: 20px;
font-weight: 600px;
margin-top: 0px;
margin-right: 40px;
margin-left: 40px;
margin-bottom: 69px;
line-height: 23px;
}
.section-six{
    
}
.content-six{
    text-align: center;
    margin-top: 180px;
    margin-left: 500px;
}
.title-six{
font-size: 45px;
font-weight: 700px;
line-height: 53px;
color: #131313;
}
.description-six{
    font-size: 16px;
    font-weight: 400px;
    line-height:26px ;
    color:#424242;
}
.sponsors-content{
    display: flex;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 50px;
}
.sponsors-img{
    width: 166px;
    height: 50px;
    padding-right: 155px;

}
.footer{
    background-color: rgb(251, 198, 177);
    height: 100px;
    width: 1440px;
    margin-top:130px;
    padding-left: 240px;
    padding-right: 240px;
}
.footer-description{
    font-size: 20px;
    font-weight: 400px;
    line-height: 23px;
    text-align: center;
    color: #424242;
    left: 650px;
    padding-top: 40px;
}
@media only screen and (max-width:576px) {
    .banner{
        width: 100%;
    }
    .header,.header-option{
        flex-direction: column;
    }
    .first-section,.first-section-header,.first-section-description,.button{
        text-align: center;
    }
    .banner-image{
        width: 100%;
        position: absolute;
        margin-top: 10px;
        height: 300px;
        padding-left: 0;
        padding-right: 2;
    }
    .section-main{
        width: 100%;
    }
    .second-section{
        flex-direction: column;
        padding-left: 0;
    }
    .second-section-img{
        grid-template-columns: repeat(1,1fr);
    }
    .second-section-content{
        flex-direction: column;
        padding-left: 0;
    }
    .sec-section-title{
        padding-left: 0;
        padding-top: 0;
    }
    .third-img{
        display: none;
       
    }
    .third-button{
        display: none;
    }
    .third-section{
       padding-left: 0;
        flex-direction: column;
       
    }
  .section-four{
    padding-left: 0;
    top: 3434px;
    text-align: left;
    background: none;
  }
.title-four{
    margin-left: 0;
}
 .description-four{
    margin-left: 0;
 }
 .section-five{
    padding-left: 0;
    padding-right: 0;
 }
 .section-five-content{
    flex-direction: column;
    gap: 10px;
}
.content-six{
    text-align:left;
    margin-left: 0px;
    margin-top: 0;
}
.sponsors-content{
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.sponsors-img{
    margin-top: 15px;
}
.footer{
    background-color: rgb(251, 198, 177);
    background-size: 100px*20px;
    padding-left: 0;
    padding-right: 0;
    
}
.footer-description{
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
    padding-left: 0;
   
}
}